@charset "UTF-8";

.brrinf{
  position: absolute;
width: 1113px;
height: 202px;
left: 0px;
top: 0px;

background-image: linear-gradient(to top, white 50%,rgba(13, 11, 148, 0.977));
background-attachment: fixed;
}

.img1{
  position: absolute;
width: 150px;
height: 150px;
left: 67px;
top: 41px;

border: 1px solid #000000;
border-radius: 100px;;
}

.folha{
  position: absolute;
  width: 679px;
  height: 1532px;
  left: 350px;
  top: 141px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50px;
}
.nome{
  position: absolute;
width: 500px;
height: 50.28px;
left: 403.3px;
top: 150px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

color: #000000;
}
.t1{
  position: absolute;
width: 144px;
height: 34px;
left: 391px;
top: 300px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 0px;

color: #000000;
}
.p1{
  position: absolute;
width: 613px;
height: 24px;
left: 388px;
top: 340px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;
}

.t2{
  position: absolute;
width: 144px;
height: 34px;
left: 391px;
top: 400px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 0px;

color: #000000;
}

.p2{
  position: absolute;
width: 613px;
height: 24px;
left: 388px;
top: 450px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #000000;
}

.t3{
  position: absolute;
width: 144px;
height: 34px;
left: 391px;
top: 830px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 0px;

color: #000000;
}

.p3{
  position: absolute;
  width: 613px;
  height: 24px;
  left: 388px;
  top: 850px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  
  color: #000000;
}
.t4{
  position: absolute;
width: 144px;
height: 34px;
left: 391px;
top: 930px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 0px;

color: #000000;
}

.p4{
  position: absolute;
  width: 613px;
  height: 24px;
  left: 388px;
  top: 950px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  
  color: #000000;
}
.x{
  position: absolute;
  top: -30px;
}